<article class="post">
  <section class="post-head">
    <h5><%= @post.title %></h5>
    <small>
      <time><%= @post.created_at.strftime("%d %B, %Y") %></time>
      |
      <%= link_to t('common.edit'), edit_post_path(@post) %>
      |
      <%= link_to t('common.delete'), post_path(@post), method: :delete, data: { confirm: t('common.confirmation') } %>
    </small>
  </section>
  <section class="post-body">
    <%= @post.body %>
  </section>
</article>
